


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;

}



.heading {
    font-size: 3rem;
}

.game1 ,.game2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90vmin;
    width: 90vmin;
    margin: 5vmin;
}
.box, .boxes{
    color: white;
    background-color:#0a74da;;
    font-size: 10vmin;
    margin: 0.5vmin;
    height: 28vmin;
    width: 28vmin;
    border-radius: 2vmin;

}

.draw, .windis{
    font-size: 2rem;
    text-shadow: 2px 2px black;
}